<header class="main-header">
    <h1 class="main-header__title">
        <span class="main-header__title--blue">Proway</span><span class="main-header__title--orange">Computers</span>
    </h1>
    <div class="container-menu">
    <nav class="main-header__menu">
        <ul>
          <li>
            <a >Produtos</a>
          </li>
          <li>
            <a>
                <i class="fa fa-cart-arrow-down"></i>
                Carrinho
                <span class="badge-carrinho">0</span>
            </a>
           
          </li>
          <li>
            <a>Contato</a>
          </li>
          <li>
            <a><i class="fa fa-facebook-official"></i></a>
          </li>
          <li>
            <a> <i class="fa fa-twitter"></i></a>
          </li>  
           <li>
            <a> <i class="fa fa-instagram"></i></a>
          </li>  
        </ul>
    </nav>
    <form class="search-form">
        <input type="text">
        <button><i class="fa fa-search"></i></button>
    </form>
</div>
</header>