<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">

            </p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
                <ul>
                    <li><i class="fa fa-envelope"></i>emial@email.com</li>
                    <li> <i class="fa fa-whatsapp"></i> (00)0000000</li>
                    <li></li>
                </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos direitos reservados.
    </section>
</footer>
